body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url(https://placekitten.com/1920/1080/);
  background-size: cover;
  background-position: center top;
}

.container {
  margin: 3rem auto;
  max-width: 650px;
  background: rgba(256, 256, 256, 0.8);
  padding: 3rem;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin: 0 0 3rem 0;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
}

label span {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

label :not(span) {
  flex: 2;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

label :not(span):focus {
  border-color: rgba(0, 0, 0, 0.7);
}

label :not(span):invalid {
  border-color: #e21833;
}

form .controls {
  text-align: right;
  margin: 0.8rem 0;
}

.controls button {
  padding: 0.8rem 1.3rem;
  border-radius: 4px;
  border: 1px solid #e21833;
  outline: none;
  background: linear-gradient(#e21833, #c9162e);
  color: #ffffff;
  cursor: pointer;
}

.controls button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls button:disabled {
  border-color: #e3e3e3;
  background: linear-gradient(#e3e3e3, #c9c9c9);
}

#output {
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  display: none;
  color: #ffffff;
}

.success {
  border: 1px solid #008800;
  background: #448844;
  display: block !important;
}

.error {
  border: 1px solid #e21833;
  background-color: #e37181;
  display: block !important;
}

@media screen and (max-width: 524px) {
  h1 {
    font-size: 2rem;
  }

  label {
    flex-direction: column;
    align-items: stretch;
  }

  label span {
    text-align: left;
  }
}
